asgiref
astroid==2.4.2
brotlipy==0.7.0
certifi==2019.9.11
cffi
chardet
colorama==0.4.4
cryptography
cssselect==1.1.0
Django==2.2.4
django-ckeditor==6.1.0
django-cors-headers==3.7.0
django-haystack==2.8.1
django-js-asset==1.2.2
django-widget-tweaks==1.4.8

docxtpl==0.11.5
idna==2.8
jieba==0.42.1
Jinja2==2.10.1
lazy-object-proxy==1.4.3
lxml==4.4.1
MarkupSafe==1.1.1
mccabe==0.6.1
mysqlclient==2.0.3
numpy==1.21.1
olefile==0.46
opencv-python==4.5.3.56
Pillow
pycparser
pylint==2.6.0
pymongo==3.11.4
PyMySQL
pyOpenSSL
pyquery==1.4.0
PySocks
python-docx==0.8.7
pytz==2019.2
qrcode==6.1
requests==2.22.0
six==1.12.0
sqlparse==0.3.0
typing-extensions
urllib3==1.25.6
Whoosh==2.7.4
win-inet-pton
wincertstore==0.2
wrapt==1.12.1
yapf==0.28.0
