certifi==2019.9.11
chardet==3.0.4
cssselect==1.1.0
Django==2.2.4
django-cors-headers==3.7.0
django-haystack==2.8.1
django-widget-tweaks==1.4.8
DjangoUeditor==1.8.143
docxtpl==0.11.5
idna==2.8
jieba==0.42.1
Jinja2==2.10.1
lxml==4.4.1
MarkupSafe==1.1.1
numpy==1.21.1
opencv-python==4.5.3.56
Pillow==5.0.0
pymongo==3.11.4
PyMySQL==1.0.2
pyquery==1.4.0
python-docx==0.8.7
pytz==2019.2
qrcode==6.1 // 可以加入老师的公众号二维码？
requests==2.22.0
six==1.12.0
sqlparse==0.3.0
urllib3==1.25.6
Whoosh==2.7.4
yapf==0.28.0
