<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="utf-8">
  <title>Shay Demo</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="container">
    <div class="row" style="margin-top: 5%">
        <div class="columns">
             <h4>Python Online Editor</h4>
        </div>
    </div>
    <div class="row" style="margin-top: 2%">
      <div class="six columns" >
        <h4>Source</h4>
        <form action="{% url 'online_editor:execute' %}" method="POST">
            
            <textarea style="height: 500px; margin: 0px; width: 500px;" class="u-full-width" placeholder="print('hello world')" id="code" name="code">
def partition(arr,low,high): 
  i = ( low-1 )         
  pivot = arr[high]     

  for j in range(low , high): 

      
      if   arr[j] <= pivot: 
        
          i = i+1 
          arr[i],arr[j] = arr[j],arr[i] 

  arr[i+1],arr[high] = arr[high],arr[i+1] 
  return ( i+1 ) 


       
def quickSort(arr,low,high): 
  if low < high: 

      pi = partition(arr,low,high) 

      quickSort(arr, low, pi-1) 
      quickSort(arr, pi+1, high) 

arr = [10, 7, 8, 9, 1, 5] 
n = len(arr) 
quickSort(arr,0,n-1) 
print ("new array:") 
for i in range(n): 
    print ("%d" %arr[i]),

            </textarea>
            <input id="btnExecute" class="button-primary" type="button" value="Run!">
        </form>
      </div>
      <div class="six columns">
        <h4>Console</h4>
        <div id="result">Result:</div>
      </div>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

<script>

  function execution_done_callback() {
    if (httpRequest.readyState === XMLHttpRequest.DONE) {
      if (httpRequest.status === 200) {
        data = JSON.parse(httpRequest.responseText)
        document.getElementById("result").innerHTML = data.result;
      } else {
        alert('There was a problem with the request.');
      }
    }
  }

  function execute() {
    httpRequest = new XMLHttpRequest();

    if (!httpRequest) {
      alert('Giving up :( Cannot create an XMLHTTP instance');
      return false;
    }

    httpRequest.onreadystatechange = execution_done_callback;
    httpRequest.open('POST', "/execute", true);
    httpRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

    content = (document.getElementById("code").value)

    httpRequest.send(content);
  }

  window.onload = function() {
    document.getElementById("btnExecute").onclick = execute;
  }
</script>

</body>
</html>
