{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pyhton 学习网站|{% block title %}{% endblock %} </title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>

<body>
    <!-- 头部 -->
    <div class="container top">
        <div class="row">
            <div class="col-md-6">
                <a>

                </a>
            </div>
            <div class="col-md-3 hidden-xs">
                <a class="phone ant">
                    <span class="glyphicon glyphicon-phone"></span>电话：KIKI 是最厉害的&nbsp; &nbsp;
                </a>
            </div>
            <div class="col-md-3 hidden-xs">
                <a class="mail ant">
                    <span class="glyphicon glyphicon-envelope"></span>邮箱：Kikiyyds@aoligei.com
                </a>
            </div>
        </div>
    </div>
    <!-- 导航条 -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example"
                    aria-expanded="false">
                    <span>导航栏</span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example"></div>
            <ul class="nav navbar-nav" style="width: 100%;">
                <li class="active nac-top">
                    <a href="{% url 'home' %}">首页</a>
                </li>
                <li class="dropdown nav-top">
                    <a href="#" class="dropdown-toggle on" data-toggle="dropdown">
                        课程列表    
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'courseApp:Courses' 'basic' %}">基础教程</a></li>
                        <li><a href="{% url 'courseApp:Courses' 'higher' %}">高阶教程</a></li>
                        <li><a href="{% url 'courseApp:Courses' 'data' %}">数据分析</a></li>
                    </ul>
                </li>
                <li class="dropdown nav-top">
                    <a href="#" class="dropdown-toggle on" data-toggle="dropdown">
                        习题列表  
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'execriseApp:basic' %}">基础</a></li>
                        <li><a href="{% url 'execriseApp:higher' %}">高阶</a></li>
                            <li><a href="{% url 'execriseApp:data' %}">数据分析</a></li>
                        </ul>
                </li>
                <li class="dropdown nav-top">
                    <a href="#" class="dropdown-toggle on" data-toggle="dropdown">
                        评论
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'commitApp:hot' %}">热门评论</a></li>
                        <li><a href="{% url 'commitApp:new' %}">最新评论</a></li>
                    </ul>
                </li>
            </ul>  
            </div>
        </div>
    </nav>
    <!-- 分割线 -->
    <div class="line"></div>
    {% block content %}
    {% endblock %}
    <!-- 页脚 -->
    <div class="container web-footer">
        <!-- 站点地图 -->
        <div class="row" id="map-footer">
           
        </div>
        <!-- 版权 -->
        <div class="row" id="patent-footer">
            <p> sahdihasfgiuasdsaohdisabf </p>
        </div>
    </div>

    <script>
        $(function () {
            $(".dropdown").mouseover(function () {
                $(this).addClass("open");
            });
            $(".dropdown").mouseleave(function () {
                $(this).removeClass("open");
            });
        });
    </script>
    <script type="text/JavaScript">
        $('#{{active_menu}}').addClass("active");
    </script>
    <script type="text/JavaScript">
        $('#{{sub_menu}}').addClass("active");
     </script>
</body>

</html>